<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="productos-landings">
      <ul>
        <li v-for="data in datasources">
          {{data.title}}

          <p v-for="(product, index) in products" :key="index">
            {{product.id}} {{product.nombre}}
          </p>
        </li>
      </ul>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.js"
      integrity="sha512-JwcZ6ApNnuNMW/djB3vPh2HpDRq4HkNE4pckP9uNhTyEW6V5NhspLu3T6ciFSz//J4sMMwtzxW5Tg+D/Ptx00w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="vue.js"></script>

    <script>
      new Vue({
        el: "#productos-landings",
        data: {
          datasources: [],
          products: [],
        },
        methods: {
          consumingDataSources: function () {
            axios
              .get(
                "https://stoplight.io/mocks/modyo/pcfactory-documentation/79796109/campanas/navidad"
              )
              .then((response) => {
                /* console.log(response.data); */
                console.log(response.data);
                /* this.datasources = response.data; */
                this.datasources = response.data;
                /* variables para el loop*/
                let datas = this.datasources;
                for (let i = 0; i < datas.length; i++) {
                  axios
                    .get(
                      `https://stoplight.io/mocks/modyo/pcfactory-documentation/79796109/campanas/navidad/${datas[i].dataSource}`
                    )
                    .then((response) => {
                      /* console.log(response.data.content.items); */
                      let product = response.data.content.items;
                      /*  console.log(response.data.content.items); */
                      for (let i = 0; i < product.length; i++) {
                        /* console.log(product[i]); */
                        this.products = product;
                        /*   console.log(this.products); */
                      }
                    });
                }
              })
              .catch((e) => {
                console.log(e);
              });
          },
          consumingProducFromDatas: function () {},
        },

        created: function () {
          this.consumingDataSources();
          this.consumingProducFromDatas();
        },
      });
    </script>
  </body>
</html>
