<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
 </head>
 <body>
  <div>
   <div id="productos-landings">
    <template v-for="datasource in datasources" v-for="product in products">
     <!-- <img v-bind:src=`https://www.pcfactory.cl/${product.thumbnail}` alt="" /> -->
     <div>
      <h1>{{datasource.title}}</h1>
     </div>

     <!--  <h1 class="my-5">{{product.nombre}}</h1>
     <p>id: {{product.id}}</p> -->
    </template>
   </div>
  </div>
  <script src="app.js"></script>
  <script
   src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.js"
   integrity="sha512-JwcZ6ApNnuNMW/djB3vPh2HpDRq4HkNE4pckP9uNhTyEW6V5NhspLu3T6ciFSz//J4sMMwtzxW5Tg+D/Ptx00w=="
   crossorigin="anonymous"
   referrerpolicy="no-referrer"
  ></script>
  <!-- <script src="vue.js"></script> -->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

  <script>
   new Vue({
    el: "#productos-landings",
    data: function () {
     return {
      datasources: [],
      products: [],
     };
    },
    methods: {
     consumingDataSources: function () {
      axios
       .get(
        "https://stoplight.io/mocks/modyo/pcfactory-documentation/79796109/campanas/navidad"
       )
       .then((response) => {
        /* console.log(response.data); */
        this.datasources = response.data;
       })
       .catch((e) => {
        console.log(e);
       });
     },
     consumingProducts: function () {
       let arraydatas = map.(this.datasources.dataSource);
       console.log(arraydatas);
      for (data in this.datasources) {
       axios
        .get(
         `https://stoplight.io/mocks/modyo/pcfactory-documentation/79796109/campanas/navidad/${data}`
        )
        .then((response) => {
         /* console.log(response); */
        })
        .catch();
      }
     },
    },

    created: function () {
     this.consumingDataSources();
    },
    updated: function () {
     this.consumingProducts();
    },
   });
  </script>
 </body>
</html>
